
body {
    background-color:#0B161D !important; 
    margin: 0;
    padding: 0;  
}

nav {

    width: 100%; 
    background-color: #262633; 
    height: 80px; 

  

}
#error {
    background-color: #2d2d2d; 
    width: 100%; 
    height: 100%; 
  }
  

section {
   
    height: auto; 

}
/* #simplon {
   
 
    overflow: hidden; 
    position: relative; 
} */



/* RIGHT SIDE -----------*/

.right-side-main-title {

    font-family: roboto; 
    font-size: 60px; 
    font-weight: 900; 
    padding-left: 50px; 
    margin: 0; 
    color: #F9EEC0; 
    padding-top: 50px; 
}

.right-side-sub-title {

    font-family: roboto; 
    font-weight: 900;
    padding-top: 20px;  
    font-size: 18px; 
    margin-left: 50px; 
    color:#179287; 

}


.right-side-main-text {
    font-family: roboto; 
    
    color:#F9EEC0;
    padding: 50px; 
    line-height: 1.8em; 
}




.right-side-1 {
    background-color:#0B161D; 
}

.right-side-2 {

    background-color:#13142C; 
}
.right-side-3 {


height: auto; 
overflow: auto; 
}


 .carousel {
    /* opacity: 0.9;  */
    height: auto;  
    /* mix-blend-mode: multiply; */
    background-color: #0B161D !important ; 
} 



/* ---------------------------- */

/* Left side------------------- */

.left-side-container {
    width: 100%; 
    height: 100%; 
  
}



.left-side-main-title {

    font-family: roboto; 
    font-size: 60px; 
    font-weight: 900; 
    padding-left: 50px; 
    margin: 0; 
    color: #F9EEC0; 
    padding-top: 50px; 
}

.left-side-main-text {
    font-family: roboto; 
    
    color:#F9EEC0;
    padding-left: 50px; 
    line-height: 1.8em; 
}

.left-side-1 {
    background-color:#13142C; 
}
.left-side-2 {
    background-image: url("img/taff1.png"); 
    background-position: 50% 50%; 
    background-size: 100%; 
    background-color:#0B161D; 
    background-repeat: no-repeat; 
    /* height: 100vh;  */
}
.left-side-3 {
    /* height: 100vh;  */
    overflow: hidden; 
    /* background-color:black !important;  */

    height: auto;
}

.left-side-sub-title {
    font-family: roboto; 
    font-weight: 900;
    padding-top: 20px;  
    font-size: 18px; 
    margin-left: 50px; 
    color:#179287; 

}

/* NAVBAR */

.main-nav {
    display: flex; 

}

.main-nav  {
    position: absolute; 
    right: 0; 
    list-style: none; 
    font-family: roboto; 
    color: white; 
    padding-top: 30px;
    padding-right: 20px; 
    margin: 0; 
    font-weight: 900; 
}

 .main-nav li:nth-child(2)  {
    margin-left: 20px;  

}

.main-nav li:nth-child(3)  {
    margin-left: 20px;  

}

a:visited {
    color:#F9EEC0 !important; 
    text-decoration : none !important; 
}
a:hover {
    color: tomato !important; 
    text-decoration : none !important; 
}

.see-more {
    height: 35px; 
    color: white !important;
    background-color: #E74E24; 
    margin-left: 50px; 
    border-radius: 50px; 
    width: 200px; 
    text-align: center; 
    border: none; 
    margin-bottom: 20px; 
    cursor: pointer; 
}

.see-more:hover {
    background-color: #ce340a; 
}


.underlined {
    font-weight: 900; 
    color: #E74E24; 
}

/* SVG ANIMATION */

#s path {
  stroke-dasharray: 1000;
  animation: animateMe linear 2s infinite;
}
@keyframes animateMe {
    0% { stroke-dashoffset: 1000; }
    50% {stroke-dashoffset: 50}
    100% { stroke-dashoffset: 0; }
   }


.svg-container {
  display: flex;
  
  align-items: center;
  background-color: #0B161D; 
  height: 100%;
}
#s {
    align-content: center; 
    width: 80%;
    margin-left: auto; 
    margin-right: auto; 
    padding: 20px; 
}

.skill {
    list-style: none; 
    color:  #F9EEC0;
    margin-left: 50px; 
    font-family: roboto; 
    line-height: 1.8em; 
}

.skill-2 {
    list-style: none; 
    color:  #F9EEC0;
    margin-left: 50px; 
    font-family: roboto; 
    line-height: 1.8em; 
}

ul {
  padding  : 0; 
}

.sub-title {
 font-weight: 900; 
    color: #179287;
    margin-bottom : 20px; 
    font-size: 18px; 
}

.profil-photo {
    width: 50px; 
    height: 50px; 
    background-color: yellow;
    position: absolute; 
    left: 0; 
    margin-top: 15px; 
    margin-left: 10px; 
    border-radius: 50px; 
    background-image: url('img/slg.jpg'); 
    background-size: 100%; 
}

.size {
display: flex; 
align-items: center;
    width: 140%; 
   
}

.dark-layer {


    background-color: rgba(0, 0, 0, 0.4); 
    margin-top: 80px; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  
    opacity: 0.4; 
    overflow: hidden; 
    
}

.text-container {
width: 100%; 
text-align: center; 
}

.left-side-main-title-3 {
    position: absolute; 
    color: white; 
    margin-left: auto; 
    margin-right: auto; 
    left: 0;
    right: 0; 
    font-family: roboto; 
    font-size: 60px; 
    font-weight: 900; 
   
}

.left-side-sub-title-3 {
    margin-top: 70px; 
    position: absolute; 
    color: #F9EEC0;
    margin-left: auto; 
    margin-right: auto; 
    left: 0;
    right: 0; 
    font-family: roboto; 
    font-size: 18px; 
    font-weight: 900; 
   
}

.left-side-main-text-3 {
    margin-top: 100px; 
    position: absolute; 
    color: #F9EEC0;
    margin-left: auto; 
    margin-right: auto; 
    left: 0;
    right: 0; 
    font-family: roboto; 
    font-size: 18px; 
    font-weight: 400; 
   
}
.profil-name {
    position: absolute; 
    font-size: 20px; 
    padding-top: 30px; 
    padding-left: 70px; 
    font-family: roboto; 
    color: #F9EEC0;
    font-weight: 900; 
}

.btn {
    display: block !important; 
    background-color: blue !important; 
  
}

@media(min-width: 0px) and (max-width: 319px) {
    #error{display: block; margin-top: 50px; background-color: #0B161D}
    .error-p{font-size: 12px; color: white}
      .left-side-container{display:none;}
      .left-side-main-title-3 {display: none}
      .left-side-sub-title-3{display:none}
      .right-side-1{display:none;}
      .left-side-main-text-3 {display: none}
      body{background-color: #0B161D}
      .right-side-2 {display: none}
        .nav-link {display: none; }
    }
    


@media (min-width: 320px) { 
    #error{display: none; margin-top: 50px; background-color: #0B161D}
    .left-side-container {text-align: center; padding: 15px; }
    .left-side-main-title{ font-size: 35px; text-align: center; padding-left: 0}
    .left-side-sub-title { margin-left: 0 }
    .left-side-main-text {padding: 0}
    ul {margin: 0; padding: 0}
    .skill {font-size: 12px; margin-left: 0}
    .left-side-main-title-3 { font-size: 35px; color:#F9EEC0; }
    .left-side-sub-title-3 { font-size: 14px }
    .left-side-main-text-3 {font-size: 12px}
    .see-more { margin-left :0}
    .right-side-2 {text-align: center; }
    .right-side-sub-title {margin: 0; }
    .right-side-main-title { font-size: 35px; padding-left: 0}
    .right-side-main-text {font-size: 12px; padding-top: 10px; padding-bottom: 10px; }
    .skill-2 {font-size: 12px;margin: 0; padding: 15px;}
    .left-side-2 { height: 100vh}
}


@media (min-width: 1024px) { 
    .left-side-container {height: 100vh;text-align: left; padding-left: 50px }
    .left-side-main-title{ font-size: 60px; text-align: left; padding-left: 0}
    .skill {font-size: 16px; margin-left: 0}
    .left-side-main-title-3 { font-size: 70px }
    .left-side-sub-title-3 { font-size: 18px; margin-top: 100px; }
    .left-side-main-text-3 {font-size: 14px; margin-top: 130px;}

    .right-side-2 {text-align: left; padding-left: 50px }
    .right-side-sub-title {margin: 0; }
    .right-side-main-title { font-size: 60px; padding-left: 0}
    .right-side-main-text {font-size: 14px; padding-top: 10px; padding-bottom: 10px; padding-left:0 }
    .skill-2 {font-size: 14px;margin: 0; padding: 0; line-height: 1.8em; text-align: left; }
    .left-side-2 { height: 100vh}
    .left-side-3 { height: 10px;}
    

}